
#menu{
background: #000;
}
#logo{
    background-image: url(/img/logo.png);
    background-repeat:no-repeat;
    width: 20px;
    padding-left: 30px;
    font-size: 45px;
}

.navbar{
    background: #000000;
    margin-bottom: 0px;
    border: 0px solid transparent;
    font-family: Batman;
    font-size: 20px;
}

#slider {
    padding: 0;
    background: #1f1f1f;
}




h1{
    font-family: Batman;
}

.h2_carousel{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-family: "trebuchet ms", sans-serif;    
}

.item{
    background: #333;
    text-align: center;
    height: 400px !important;
}

.carousel{

}

.window_download {
    background: #1f1f1f;
    height: 315px;
    width: 100%;
    color: #fff;
}

#button_download_bg{
    height: 400;
}

.button_download{
    height: 400;
}

.button_download a{
    padding: 15px 40px;
    background: #d9d9d9;
    text-decoration: none;
    color: black;
    border: 5px solid #8d8d8d;
    transition: 0.2s;
    font-size: 25px;
}

.button_download a:hover {
    background: #1a1a1a;
    color: white;
    padding: 20px 50px;
    border: 5px solid #0a0a0a;
}

.button_download a:active{
    background: #0b0b0b;
    border: 5px solid #000;
}

#slide_1{
    background-image:url(/img/slide_1.png)
}

#slide_2{
    background-image:url(/img/slide_2.png)
}

#slide_3{
    background-image:url(/img/slide_3.png)
}

.cont_left{
    height: 380px;
}

.cont_right{
    height: 400px;

}

.footer{
    height: 250px;
    color: #fff;
}

.logo_ch_studio{
    padding-top: 30px;
    padding-bottom: 20px;
}






#gallery {
  position: relative;
  padding-top: 50%;
  -moz-user-select: none; user-select: none;
}

#gallery img {
  position: absolute;
  top: 25%;
  left: 12.5%;
  max-width: 24.5%;
  max-height: 49.5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: zoom-in;
  transition: .2s;
}
#gallery img:nth-child(4n-2) {left: 37.5%;}
#gallery img:nth-child(4n-1) {left: 62.5%;}
#gallery img:nth-child(4n) {left: 87.5%;}
#gallery img:nth-child(n+5) {top: 75%;}

#gallery img:focus {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  outline: none;
  pointer-events: none;
}

#gallery img:focus ~ div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  cursor: zoom-out;
}

.vk_news{
    padding: 20px;
    padding-top: 0;
}

.vk_music{
    padding: 20px;
    padding-top: 56px;
}



















